.App {
  text-align: center;
}
.joke {
  width: 500px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 2px 2px 5px grey;
}
button {
  margin-top: 20px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  border: 1px solid green;
  cursor: pointer;
}
button:hover { background: rgb(53, 167, 110); }
button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}